<!DOCTYPE html>

<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div id="navbarEsquerdo">

  </div>

  <div id="init">
    <form>
      <h1>
        Bem vindo
      </h1>
    </form>
  </div>

  <div id="painel">
    
  </div>

  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>©2020 Designed by Leandro Miguel </p>
</body>
</html>
